<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <title>Gestionar Solicitudes</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Solicitudes</h1>
<table>
    <thead>
    <tr>
        <th>Request Id</th>
        <th>Request Date</th>
        <th>Type Of Service</th>
        <th>Required Availability</th>
        <th>Service Location</th>
        <th>Specific Preferences</th>
        <th>List Of Proposed Candidates</th>
        <th>PAP/PATI Id</th>
        <th>OVI User Id</th>
        <td></td> <!-- no usar <th> quan no hi ha capçalera -->
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="assignmentRequest: ${assignmentRequests}">
        <td th:text="${assignmentRequest.requestId}"></td>
        <td th:text="${assignmentRequest.requestDate}"></td>
        <td th:text="${assignmentRequest.typeOfService}"></td>
        <td th:text="${assignmentRequest.requiredAvailability}"></td>
        <td th:text="${assignmentRequest.serviceLocation}"></td>
        <td th:text="${assignmentRequest.specificPreferences}"></td>
        <td th:text="${assignmentRequest.listOfProposedCandidates}"></td>
        <td th:text="${assignmentRequest.pap_patiId}"></td>
        <td th:text="${assignmentRequest.oviUserId}"></td>


        <td><a th:href="@{/assignmentRequest/update/{requestId}(requestId=${assignmentRequest.requestId})}">Edita</a>
        </td>
        <td><a th:href="@{/assignmentRequest/delete/{requestId}(requestId=${assignmentRequest.requestId})}">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Añadir Solicitud</a>
<br><br>
<a href="/">Volver</a>
</body>
</html>
