<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <title>Gestionar PAP/PATI</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/proyecte.css"
          th:href="@{/css/proyecte.css}"/>
</head>
<body>
<h1>Lista de PAP/PATI</h1>
<table>
    <thead>
    <tr>
        <th>Dni</th>
        <th>Name</th>
        <th>Surname</th>
        <th>DateOfBirth</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Specific Training</th>
        <th>Type Of Experience</th>
        <th>Curriculum Vitae</th>
        <th>Status</th>
        <th>User and Password</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Geographic Mobility</th>
        <th>Skills</th>


        <td></td> <!-- no usar <th> quan no hi ha capçalera -->
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pap_pati: ${allpap_pati}">
        <td th:text="${pap_pati.dni}"></td>
        <td th:text="${pap_pati.name}"></td>
        <td th:text="${pap_pati.surname}"></td>
        <td th:text="${pap_pati.dateOfBirth}"></td>
        <td th:text="${pap_pati.address}"></td>
        <td th:text="${pap_pati.phone}"></td>
        <td th:text="${pap_pati.email}"></td>
        <td th:text="${pap_pati.specificTraining}"></td>
        <td th:text="${pap_pati.typeOfExperience}"></td>
        <td th:text="${pap_pati.curriculumVitae}"></td>
        <td th:text="${pap_pati.status}"></td>
        <td th:text="${pap_pati.userAndPassword}"></td>
        <td th:text="${pap_pati.startDate}"></td>
        <td th:text="${pap_pati.endDate}"></td>
        <td th:text="${pap_pati.geographicMobility}"></td>
        <td th:text="${pap_pati.skills}"></td>







        <td><a th:href="@{/pap_pati/update/{id}(id=${pap_pati.dni})}" class="btn btn-warning">Edita</a>
        </td>
        <td><a th:href="@{/pap_pati/delete/{id}(id=${pap_pati.dni})}" class="btn btn-danger">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add" class="btn btn-primary">Añadir PAP/PATI</a>
<br><br>
<a href="/" class="btn btn-secondary">Volver</a>
</body>
</html>
