<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <title>Gestionar OVI users</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/proyecte.css"
          th:href="@{/css/proyecte.css}"/>
</head>
<body>
<h1>Lista de OVI Users</h1>
<table>
    <thead>
    <tr>
        <th>Dni</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Entity That Is Involved</th>
        <th>Type of Functional Diversity</th>
        <th>Date of Acceptance</th>
        <th>Status</th>
        <th>User and Password</th>
        <th>Tutor Id</th>
        <td></td> <!-- no usar <th> quan no hi ha capçalera -->
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="oviUser: ${oviUsers}">
        <td th:text="${oviUser.id}"></td>
        <td th:text="${oviUser.name}"></td>
        <td th:text="${oviUser.address}"></td>
        <td th:text="${oviUser.email}"></td>
        <td th:text="${oviUser.entityThatIsInvolved}"></td>
        <td th:text="${oviUser.typeOfFunctionalDiversity}"></td>
        <td th:text="${oviUser.dateOfAcceptance}"></td>
        <td th:text="${oviUser.status}"></td>
        <td th:text="${oviUser.userAndPassword}"></td>
        <td th:text="${oviUser.tutorId}"></td>

        <td><a th:href="@{/oviUser/update/{id}(id=${oviUser.id})}" class="btn btn-warning">Edita</a>
        </td>
        <td><a th:href="@{/oviUser/delete/{id}(id=${oviUser.id})}" class="btn btn-danger">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add" class="btn btn-primary">Añadir OVI user</a>
<br><br>
<a href="/" class="btn btn-secondary">Volver</a>
</body>
</html>
