<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
  <meta charset="UTF-8" />
  <title>Crear una Asigment Request - oviuser</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/proyecte.css"
        th:href="@{/css/proyecte.css}"/>
</head>
<body>
<nav class="navbar navbar-light bg-light mb-4 shadow-sm">
  <div th:replace="~{fragments/base :: navbar}"></div>
</nav>

<main class="container">
  <h1>Nuevo Asigment Request</h1>
  <form class="form-horizontal" th:action="@{/assignmentRequest/add}" th:object="${assignmentRequest}" method="post">

    <div class="form-group row">
      <label class="control-label col-sm-2">Tipo de Servicio:</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="tipoPAP" name="typeOfService" value="PAP"
                 th:checked="${assignmentRequest.typeOfService == 'PAP'}">
          <label class="form-check-label fw-normal" for="tipoPAP">PAP</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="tipoPATI" name="typeOfService" value="PATI"
                 th:checked="${assignmentRequest.typeOfService == 'PATI'}">
          <label class="form-check-label fw-normal" for="tipoPATI">PATI</label>
        </div>
      </div>
      <div th:if="${#fields.hasErrors('typeOfService')}" th:errors="*{typeOfService}" class="error"></div>
    </div>

    <div class="form-group row">
      <label for="requiredStartAvailability" class="control-label col-sm-3">Fecha de inicio del servicio:</label>
      <input type="date" class="form-control" id="requiredStartAvailability" th:field="*{requiredStartAvailability}"/>
      <div th:if="${#fields.hasErrors('requiredStartAvailability')}" th:errors="*{requiredStartAvailability}"  class="error"></div>
    </div>

    <div class="form-group row">
      <label for="requiredEndAvailability" class="control-label col-sm-2">Fecha de fin del servicio:</label>
      <input type="date" class="form-control" id="requiredEndAvailability" th:field="*{requiredEndAvailability}"/>
      <div th:if="${#fields.hasErrors('requiredEndAvailability')}" th:errors="*{requiredEndAvailability}"  class="error"></div>
    </div>

    <div class="form-group row">
      <label for="serviceLocation" class="control-label col-sm-2">Ubicación:</label>
      <select class="form-select" id="serviceLocation" name="serviceLocation">
        <option value="" disabled selected>Seleccione una provincia...</option>
        <option th:each="provincia : ${provincias}"
                th:value="${provincia}"
                th:text="${provincia}"
                th:selected="${provincia == assignmentRequest.serviceLocation}">
        </option>
      </select>
      <div th:if="${#fields.hasErrors('serviceLocation')}" th:errors="*{serviceLocation}" class="error"></div>
    </div>

    <div class="form-group row">
      <label for="requiredTraining" class="control-label col-sm-2">Formación requerida:</label>
      <select class="form-select" id="requiredTraining" name="requiredTraining">
        <option value="" disabled selected>Seleccione la formación requerida...</option>
        <option th:each="training : ${formacionesDisponibles}"
                th:value="${training}"
                th:text="${training}"
                th:selected="${training == assignmentRequest.requiredTraining}">
        </option>
      </select>
      <div th:if="${#fields.hasErrors('requiredTraining')}" th:errors="*{requiredTraining}" class="error"></div>
    </div>

    <div class="form-group row">
      <label for="requiredExperience" class="control-label col-sm-2">Experiencia necesaria:</label>
      <select class="form-select" id="requiredExperience" name="requiredExperience">
        <option value="" disabled selected>Seleccione cuántos años de experiencia...</option>
        <option th:each="anyo : ${anyosExperiencia}"
                th:value="${anyo}"
                th:text="${anyo}"
                th:selected="${anyo == assignmentRequest.requiredExperience}">
        </option>
      </select>
      <div th:if="${#fields.hasErrors('requiredExperience')}" th:errors="*{requiredExperience}" class="error"></div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-12">Habilidades requeridas:</label>
      <div class="ms-4">
        <div th:each="skill : ${skillsDisponibles}" class="form-check">
          <input class="form-check-input" type="checkbox" th:field="*{requiredSkills}" th:value="${skill}">
          <label class="form-check-label fw-normal" th:for="${#ids.prev('requiredSkills')}" th:text="${skill}"></label>
        </div>
      </div>

      <div th:if="${#fields.hasErrors('requiredSkills')}" th:errors="*{requiredSkills}" class="error"></div>
    </div>

    <button type="submit" class="btn btn-primary">Registrar Solicitud</button>
    <br><br>
    <a th:href="@{'/assignmentRequest/user/' + ${user.dni}}" class="btn btn-info text-white w-100"> Volver </a>

  </form>
</main>
</body>
</html>
