<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
  <title>Gestionar Solicitudes</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/proyecte.css"
        th:href="@{/css/proyecte.css}"/>
</head>
<body>
<nav class="navbar navbar-light bg-light mb-4 shadow-sm">
  <div th:replace="~{fragments/base :: navbar}"></div>
</nav>
<h1>Lista de Solicitudes</h1>
<table>
  <thead>
  <tr>

    <th>Request Id</th>
    <th>Request Date</th>
    <th>Type Of Service</th>
    <th>Required Start Availability</th>
    <th>Required End Availability</th>
    <th>Service Location</th>
    <th>Required Training</th>
    <th>Required Experience</th>
    <th>Required Skills</th>
    <th>OVI User Id</th>
    <th>Status</th>
    <th class="text-center">Acciones de Gestión</th>
    <td></td> <!-- no usar <th> quan no hi ha capçalera -->
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr th:each="assignmentRequest: ${assignmentRequests}">
    <td th:text="${assignmentRequest.request_Id}"></td>
    <td th:text="${assignmentRequest.requestDate}"></td>
    <td th:text="${assignmentRequest.typeOfService}"></td>
    <td th:text="${assignmentRequest.requiredStartAvailability}"></td>
    <td th:text="${assignmentRequest.requiredEndAvailability}"></td>
    <td th:text="${assignmentRequest.serviceLocation}"></td>
    <td th:text="${assignmentRequest.requiredTraining}"></td>
    <td th:text="${assignmentRequest.requiredExperience}"></td>
    <td th:text="${assignmentRequest.requiredSkills}"></td>
    <td th:text="${assignmentRequest.oviuser_id}"></td>
    <td th:text="${assignmentRequest.status}"></td>


    <td>
        <span th:text="${assignmentRequest.status}"
              th:class="${assignmentRequest.status == 'in progress' ? 'badge bg-warning text-dark' : (assignmentRequest.status == 'accepted' ? 'badge bg-success' : 'badge bg-danger')}">
        </span>
    </td>

    <td class="text-center">
      <div th:if="${assignmentRequest.status == 'in progress'}">
        <a th:href="@{/assignmentRequest/accept/{id}(id=${assignmentRequest.request_Id})}"
           class="btn btn-success btn-sm">Aceptar</a>

        <a th:href="@{/assignmentRequest/reject/{id}(id=${assignmentRequest.request_Id})}"
           class="btn btn-danger btn-sm">Rechazar</a>
      </div>

      <div th:if="${assignmentRequest.status == 'accepted'}">
        <a th:href="@{/assignmentRequest/proposals/{id}(id=${assignmentRequest.request_Id})}"
           class="btn btn-info btn-sm">Ver Candidatos</a>
      </div>

      <div th:if="${assignmentRequest.status == 'refused'}">
        <span class="text-muted small">Sin acciones</span>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<a href="add" class="btn btn-primary">Añadir Solicitud</a>
<br><br>
<a href="/" class="btn btn-secondary">Volver</a>
</body>
</html>
