<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Crear nuevo Contrato - OVI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/proyecte.css" th:href="@{/css/proyecte.css}"/>
</head>
<body>

<div th:replace="~{fragments/base :: navbar}"></div>

<main class="container pb-5">

    <h1 class="mb-0 align-middle">
        <i class="bi bi-file-earmark-break-fill me-2" style="font-size: 2rem; color: #0d9488; vertical-align: middle;"></i>Nuevo contrato
    </h1>
    <p class="text-muted mb-4">Por favor, introduzca los detalles y fechas correspondientes para formalizar el nuevo contrato.</p>

    <hr class="mb-4 text-muted">

    <form class="form-horizontal" th:action="@{/contract/add}" th:object="${contract}" method="post">

        <h5 class="text-primary text-opacity-75 mb-3 fw-bold">1. Fechas del Contrato</h5>

        <div class="form-group row mb-3">
            <label for="startDate" class="control-label col-sm-2">Fecha de inicio:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="startDate" th:field="*{startDate}"/>
                <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="text-danger mt-1"></div>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label for="endDate" class="control-label col-sm-2">Fecha de fin:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="endDate" th:field="*{endDate}"/>
                <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="text-danger mt-1"></div>
            </div>
        </div>

        <hr class="mb-4 text-muted">

        <h5 class="text-primary text-opacity-75 mb-3 fw-bold">2. Datos de Vinculación</h5>

        <div class="form-group row mb-3">
            <label for="request_Id" class="control-label col-sm-2">ID de la solicitud:</label>
            <div class="col-sm-4">
                <input id="request_Id" type="text" th:field="*{request_Id}" class="form-control" maxlength="20">
                <div th:if="${#fields.hasErrors('request_Id')}" th:errors="*{request_Id}" class="text-danger mt-1"></div>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label for="pappati_id" class="control-label col-sm-2">ID del PAP/PATI:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="pappati_id" th:field="*{pappati_id}" maxlength="9"/>
                <div th:if="${#fields.hasErrors('pappati_id')}" th:errors="*{pappati_id}" class="text-danger mt-1"></div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Añadir contrato</button>
        <a th:href="@{/negotiation/chat/{id}(id=${negotiationId})}" class="btn btn-secondary mt-3 ms-2">Volver </a>
    </form>
</main>
</body>
</html>