<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <title>Gestionar Contratos</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/proyecte.css"
          th:href="@{/css/proyecte.css}"/>
</head>
<body>
<h1>Lista de Contratos</h1>
<table>
    <thead>
    <tr>
        <th>Contract Id</th>
        <th>Request Id</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Place Where The PDF is Gonna Be Saved</th>
        <th>PAP/PATI Id</th>
        <td></td> <!-- no usar <th> quan no hi ha capçalera -->
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract: ${contracts}">
        <td th:text="${contract.contractId}"></td>
        <td th:text="${contract.requestId}"></td>
        <td th:text="${contract.startDate}"></td>
        <td th:text="${contract.endDate}"></td>
        <td th:text="${contract.status}"></td>
        <td th:text="${contract.placeWhereThePDFIsGonnaBeSaved}"></td>
        <td th:text="${contract.pap_patiID}"></td>



        <td><a th:href="@{/contract/update/{contractId}(contractId=${contract.contractId})}">Edita</a>
        </td>
        <td><a th:href="@{/contract/delete/{contractId}(contractId=${contract.contractId})}">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Añadir Contrato</a>
<br><br>
<a href="/">Volver</a>
</body>
</html>
